*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #9ec5ab;
    --secondary-color: #ec4e20;
    --backgrund-color: #32746d;
    --color1: #104f55;
    --color2: #ffa630;
    }

/* web start */

.infobox{
    display: flex;
    flex-direction: row;
}

/* Clothing Club */
.clothing-club{
    border: 10px solid var(--color2);
    position: absolute;
    top: 100%;
    width: 450px;
    border-radius: 20%;
    display: flex;
}

.cc-img{
    width: 400px;
    border-radius: 20%;

}

/* Allen Anjehb */
.allen-anjeh{
    top: 100%;
    border: 50px solid var(--color2);
    position: absolute;
    top: 100%;
    width: 450px;
    border-radius: 20%;
    display: flex;
}

.aa-img{
    width: 400px;
    border-radius: 20%;
}


/* SØNTH PRESENTS */
.sonth{
    top: 100%;
    border: 10px solid var(--color2);
    position: absolute;
    top: 100%;
    width: 450px;
    border-radius: 20%;
    display: flex;
}

.so-img{
   
    width: 400px;
    border-radius: 20%;
}


/* web slut */



/* mobil start */

/* mobil slut */



/* tablet start */

/* tablet slutt */