*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --primary-color: #9ec5ab;
    --secondary-color: #ec4e20;
    --backgrund-color: #32746d;
    --color1: #104f55;
    --color2: #ffa630;
    }

    body{
      background-color: var(--backgrund-color);
   }

    /* ynglings kunstnere */
.ynglings-overskrift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 27%;
    left: 15%;
    z-index: 1;
}

.stor-gul{
    position: absolute;
    width: 600px;
    height: 745px;
    top: 20%;
    left: 5%;
}

.i-think{
    position: absolute;
    width: 300px;
    top:32%;
    left: 7%;

}

.i-think-tekst{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 43%;
    left: 22%;
}

.joe{
    position: absolute;
    width: 200px;
    top:55%;
    left: 8.5%;
}

.joe-tekst{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 61%;
    left: 22%;
    z-index: 1;
}

.skral{
    position: absolute;
    width: 200px;
    top:78%;
    left: 8.5%;
}

.skral-tekst{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 86%;
    left: 25%;
    z-index: 1;
}

.ynglings-but{
    position: absolute;
    width: 200px;
    top: 97%;
    left: 18%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 5%;
}


 /* dine oplysninger */
.op-img{
    position: absolute;
    width: 600px;
    height: 400px;
    top: 17%;
    left: 55%;
}

.op-overskrift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 27%;
    left: 70%;
    z-index: 1;
}

 
.navn{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 35%;
    left: 85%;
    z-index: 1;
}

.title{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 41%;
    left: 85%;
    z-index: 1;
}

.by{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 47%;
    left: 85%;
    z-index: 1;
}
.navn-k{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 35%;
    left: 63%;
    z-index: 1;
}

.titel-s{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 41%;
    left: 63%;
    z-index: 1;
}

.by-a{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 47%;
    left: 63%;
    z-index: 1;
}

.ændre-but{
    position: absolute;
    width: 150px;
    top: 50%;
    left: 71%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 5%;
}

 /* din næste koncert */
 .din-img{
    position: absolute;
    width: 600px;
    height: 400px;
    top: 64.5%;
    left: 55%;
 }

.din-overskif{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 60%;
    left: 70%;
    z-index: 1;
}

.afsky{

}

.dato{

}

.afsky-img{
    position: absolute;
    width: 200px;
    top: 100%;
    left: 59%;
    z-index: 1;
}

.din-but{

}

 /* din statestik */
.canva{
    position: absolute;
    left: 23%;
}

.indie-p {
    position: absolute;
    top: 105%;
    color: var(--secondary-color);
    z-index: 1;
    font-size: 20px;
    top: 140%;
    animation-delay: 50s;
    left: 30%;
    animation: fade-up 3s;
}

@keyframes fade-up{
0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
}
}
