*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --primary-color: #9ec5ab;
    --secondary-color: #ec4e20;
    --backgrund-color: #32746d;
    --color1: #104f55;
    --color2: #ffa630;
    }

    body{
      background-color: var(--backgrund-color);
   }

    /* ynglings kunstnere */
.ynglings-overskrift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 27%;
    left: 15%;
}

.stor-gul{
    position: absolute;
    width: 600px;
    height: 745px;
    top: 20%;
    left: 5%;
}

.i-think{
    position: absolute;
    width: 300px;
    top:32%;
    left: 7%;

}

.i-think-tekst{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 43%;
    left: 22%;
}

.joe{
    position: absolute;
    width: 200px;
    top:55%;
    left: 8.5%;
}

.joe-tekst{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 61%;
    left: 22%;
}

.skral{
    position: absolute;
    width: 200px;
    top:78%;
    left: 8.5%;
}

.skral-tekst{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 86%;
    left: 25%;
}

.ynglings-but{
    position: absolute;
    width: 200px;
    top: 97%;
    left: 18%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 5%;
}


 /* dine oplysninger */
.op-img{
    position: absolute;
    width: 600px;
    height: 400px;
    top: 17%;
    left: 55%;
}

.op-overskrift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 27%;
    left: 70%;
    z-index: 1;
}

 
.navn{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 35%;
    left: 85%;
    z-index: 1;
}

.title{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 41%;
    left: 85%;
    z-index: 1;
}

.by{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 47%;
    left: 85%;
    z-index: 1;
}
.navn-k{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 35%;
    left: 63%;
    z-index: 1;
}

.titel-s{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 41%;
    left: 63%;
    z-index: 1;
}

.by-a{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 47%;
    left: 63%;
    z-index: 1;
}

.ændre-but{
    position: absolute;
    width: 150px;
    top: 50%;
    left: 71%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 5%;
}

 /* din næste koncert */
 .din-img{
    position: absolute;
    width: 600px;
    height: 400px;
    top: 64.5%;
    left: 55%;
 }

.din-overskift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 75%;
    left: 70%;
    z-index: 1;
}

.afsky{
    position: absolute;
    font-size: 20px;
    width: 750px;
    top: 85%;
    left: 75%;
    z-index: 1;
}

.dato{
    position: absolute;
    font-size: 20px;
    width: 750px;
    top: 90%;
    left: 75%;
    z-index: 1;
}

.afsky-img{
    position: absolute;
    width: 200px;
    top:80%;
    left: 59%;
    z-index: 1;
}

.din-but{
    position: absolute;
    width: 150px;
    top: 97%;
    left: 71%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 5%;
}

 /* din statestik */

.indie-p {
    position: absolute;
    color: var(--secondary-color);
    z-index: 1;
    font-size: 20px;
    top: 141.5%;
    animation-delay: 30s;
    left: 30%;
    animation: fade-up 3s;
}


.metal-p {
    position: absolute;
    color: var(--secondary-color);
    z-index: 1;
    font-size: 35px;
    top: 155%;
    animation-delay: 30s;
    left: 29%;
    animation: fade-up 3s;
}

.jazz-p {
    position: absolute;
    color: var(--secondary-color);
    z-index: 1;
    font-size: 45px;
    top: 135%;
    animation-delay: 30s;
    left: 37%;
    animation: fade-up 3s;
}

.canva{
    position: absolute;
    left: 23%;
}

 /* får det til ar bevæge sig */

@keyframes fade-up{
0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
}
}


 /*  mobile */ 
 @media(max-width: 600px){

/* ynglings kunstnere */
.ynglings-overskrift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 27%;
    left: 15%;
    z-index: 1;
}

.stor-gul{
    position: absolute;
    width: 420px;
    height: 745px;
    top: 20%;
    left: 5%;
}

.i-think{
    position: absolute;
    width: 300px;
    top:29%;
    left: 22.5%;

}

.i-think-tekst{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 54%;
    left: 22%;
}

.joe{
    position: absolute;
    width: 210px;
    top:56%;
    left: 26%;
}

.joe-tekst{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 78%;
    left: 22%;
}

.skral{
    position: absolute;
    width: 210px;
    top:83%;
    left: 26%;
}

.skral-tekst{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 104%;
    left: 22%;
}

.ynglings-but{
    position: absolute;
    width: 90px;
    top: 106.5%;
    left: 40%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 90%;
}

/* dine oplysninger */
.op-img{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 115%;
    left: 5%;
    z-index: 1;
}

.op-overskrift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 125%;
    left: 23%;
    z-index: 1;
}
 
.navn{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 135%;
    left: 65%;
}

.title{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 143%;
    left: 65%;
}

.by{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 150%;
    left: 65%;
}
.navn-k{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 135%;
    left: 22%;
}

.titel-s{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 143%;
    left: 22%;
}

.by-a{
    position: absolute;
    font-size: 20px;
    width: 300px;
    top: 150%;
    left: 22%;
}

.ændre-but{
    position: absolute;
    width: 90px;
    top: 153%;
    left: 40%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 90%;
    z-index: 1;
}

 /* din næste koncert */
 .din-img{
     position: absolute;
    width: 400px;
    height: 400px;
    top: 160%;
    left: 5%;
}

.din-overskift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 170%;
    left: 23%;
    z-index: 1;
}

.afsky{
    position: absolute;
    font-size: 20px;
    width: 100px;
    top: 180%;
    left: 65%;
}

.dato{
    position: absolute;
    font-size: 20px;
    width: 100px;
    top: 192%;
    left: 65%;
}

.afsky-img{
    position: absolute;
    width: 300px;
    top:175%;
    left: 5%;
}

.din-but{
    position: absolute;
    width: 90px;
    top: 199%;
    left: 40%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 90%;
    z-index: 1;
}

 /* din statestik */
.canva{
    display: none;
    z-index: -1;
}

.indie-p {
    z-index: -1;
    color: var(--color2);
}
.metal-p {
    z-index: -1;
    color: var(--color2);
}

.jazz-p {
    z-index: -1;
    color: var(--color2);
}  

}

 /* tablet */ 
@media (min-width: 601px) and (max-width: 991px){

 /* din statestik */
 .canva{
    display: none;
    z-index: -1;
}

.indie-p {
    z-index: -1;
    color: var(--color2);
}
.metal-p {
    z-index: -1;
    color: var(--color2);
}

.jazz-p {
    z-index: -1;
    color: var(--color2);
}  

/* ynglings kunstnere */
.ynglings-overskrift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 27%;
    left: 25%;
}

.stor-gul{
    position: absolute;
    width: 600px;
    height: 745px;
    top: 20%;
    left: 5%;
}

.i-think{
    position: absolute;
    width: 300px;
    top:32%;
    left: 10%;

}

.i-think-tekst{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 43%;
    left: 40%;
}

.joe{
    position: absolute;
    width: 200px;
    top:57%;
    left: 12.5%;
}

.joe-tekst{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 61%;
    left: 45%;
}

.skral{
    position: absolute;
    width: 200px;
    top:78%;
    left: 12.5%;
}

.skral-tekst{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 86%;
    left: 45%;
}

.ynglings-but{
    position: absolute;
    width: 90px;
    top: 100%;
    left: 40%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 90%;
}


 /* dine oplysninger */
.op-img{
    position: absolute;
    width: 565px;
    height: 400px;
    top: 120%;
    left: 6%;
}


.op-overskrift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 130%;
    left: 30%;
    z-index: 1;
}

 
.navn{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 137%;
    left: 65%;
    z-index: 1;
}

.title{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 145%;
    left: 65%;
    z-index: 1;
}

.by{
    width: 300px;
    top: 153%;
    left: 65%;
    z-index: 1;
}

.navn-k{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 137%;
    left: 20%;
    z-index: 1;
}

.titel-s{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 145%;
    left: 20%;
    z-index: 1;
}

.by-a{
    position: absolute;
    font-size: 25px;
    width: 300px;
    top: 153%;
    left: 20%;
    z-index: 1;
}

.ændre-but{
    position: absolute;
    width: 90px;
    top: 157%;
    left: 40%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 90%;
}

 /* din næste koncert */
 .din-img{
    position: absolute;
    width: 565px;
    height: 400px;
    top: 170%;
    left: 6%;
 }

.din-overskift{
    position: absolute;
    font-size: 30px;
    width: 750px;
    top: 180%;
    left: 30%;
    z-index: 1;
}

.afsky{
    position: absolute;
    font-size: 20px;
    width: 750px;
    top: 195%;
    left: 40%;
    z-index: 1;
}

.dato{
    position: absolute;
    font-size: 20px;
    width: 750px;
    top: 203%;
    left: 55%;
    z-index: 1;
}

.afsky-img{
    position: absolute;
    width: 200px;
    top: 190%;
    left: 15%;
    z-index: 1;
}

.din-but{
    position: absolute;
    width: 90px;
    top: 207%;
    left: 40%;
    background-color: var(--secondary-color);
    border: 30px solid var(--secondary-color);
    border-radius: 90%;
}

}



