*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --primary-color: #9ec5ab;
    --secondary-color: #ec4e20;
    --backgrund-color: #32746d;
    --color1: #104f55;
    --color2: #ffa630;
    }

    body{
      background-color: var(--backgrund-color);
   }


     
     a {
       display: flex;
       justify-content: center;
    }
     
 .logo {
  width: 70px;     
  position: absolute;
 bottom: 50px;
 left: 48%;
 background-color: var(--color1);
 z-index: 1;
     } 
     
     
     header{
        position: absolute;
        top: 0%;
        left: 0;
        right: 0;
        background-color: var(--color1);
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 10px 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8rem;
        z-index: 1;
        
     }
     
     /* responsive nav */
     header .navbar ul li{
        position: relative;
        float: left;
     }
     
     header .navbar ul li a {
        text-decoration: none;
        font-size: 20px;
        padding: 18px;
        color: var(--primary-color);;
        display: block;
        padding-top: 80px;
        background-color: var(--color1);
     }
     
     header .navbar ul li a:hover{
        color: var(--color2);
     }
     
     header .navbar ul li ul{
        position: absolute;
        left: 0;
        width: 300px;
        background: #3391c9;
        display: none;
     }
     
     header .navbar ul li ul li{
        width: 100%;
        border-top: 1px solid rgba(0,0,0,0.1);
     }
     
     header .navbar ul li:focus-within > ul,
     header .navbar ul li:hover > ul{
        display: block;
     }
     
     #menu-bar{
        display: none;
     }
     
     header label{
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
        display: none;
     }

/* responsive nav slut */

/* indhold desing */
     .cc-img{
        position: absolute;
        width: 320px;
        top: 50%;
        left: 10%;
     }

     .aa-img{
        position: absolute;
        width: 310px;
        top: 50%;
        left: 40%;
     }

     .so-img{
        position: absolute;
        width: 310px;
        top: 50%;
        left: 70%;
     }

     .cc-but{
        position: absolute;
        width: 200px;
        top: 108%;
        left: 14%;
        background-color: var(--secondary-color);
        border: 30px solid var(--secondary-color);
        border-radius: 5%;
     }

     .aa-but{
        position: absolute;
        width: 200px;
        top: 108%;
        left: 44%;
        background-color: var(--secondary-color);
        border: 30px solid var(--secondary-color);
        border-radius: 5%;
     }

     .so-but{
        position: absolute;
        width: 200px;
        top: 108%;
        left: 74%;
        background-color: var(--secondary-color);
        border: 30px solid var(--secondary-color);
        border-radius: 5%;
     }


       /* duller */
     .dulle-orange{
        rotate: 20deg;
        position: absolute;
        width: 750px;
        top: 150%;
        left: 40%;
     }

     .dulle-gron{
        rotate: 20deg;
        position: absolute;
        width: 750px;
        top: 150%;
        left: 5%;
     }

     .dulle-orange-sektion{
        position: absolute;
        font-size: 20px;
        width: 750px;
        top: 180%;
        left: 55%;
        z-index: 1;
     }

     .dulle-orange-overskrift{
        color: #f1bdff;
     }

     .dulle-gron-overskrift{
        color: #f1bdff;
     }

     .dulle-gron-sektion{
        position: absolute;
        font-size: 20px;
        width: 750px;
        top: 180%;
        left: 15%;
        z-index: 1;
     }



  /* footer */

  .footer-baggrund{
     position: absolute;
     left: -6.10%;
     top: 250%;
  }

  .logo-footer{
    position: absolute;
    width: 200px;
    top: 252%;
    left: 43%;
  }

  .facebook-logo{
    position: absolute;
    width: 120px;
    top: 260%;
    left: 73%;
  }

  .instagram-logo{
    position: absolute;
    width: 140px;
    top: 260%;
    left: 83%;
  }

  .footer-kontakt{
    position: absolute;
    top: 260%;
    left: 2%;
    font-size: 23px;
    color: #f1bdff;
  }



  /*  mobile */ 
@media(max-width: 600px) {

  /* footer */
.footer-container {
  flex-direction: column;
  gap: 10px;
}

.footer-baggrund{
   position: absolute;
        left: -6.10%;
        top: 270%;
        width: 430px;
        height: 30%;
}

.logo-footer{
   position: absolute;
   width: 100px;
   top: 282%;
   left: 43%;
}

.facebook-logo{
   position: absolute;
        width: 100px;
        top: 272%;
        left: 71%;
 }

 .instagram-logo{
   position: absolute;
   width: 130px;
   top: 285%;
   left: 66%;
 }

 .footer-kontakt{
   position: absolute;
   top: 275%;
   left: 2%;
   font-size: 13px;
   color: #f1bdff;
 }

  /* navbar */
header{
padding: 20px;
}

header label{
display: block;
position: absolute;
  top: 70%;
  left: 49%;
}

header .navbar{
position: absolute;
top: 100%;
left: 0;
right: 0;
background: #3391c9;
border-top: 1px rgba(0,0,0,0.1);
display: none;
}

header .navbar ul li{
width: 100%;
}

header .navbar ul li ul{
position: relative;
width: 100%;
}


#menu-bar:checked ~ .navbar{
display: block;
}


  /* indhold */
  .cc-img{
   position: absolute;
   width: 200px;
   top: 25%;
   left: 25%;
}

.aa-img{
   position: absolute;
   width: 200px;
   top: 83%;
   left: 25%;
}

.so-img{
   position: absolute;
   width: 200px;
   top: 142%;
   left: 25%;
}

.cc-but{
   position: absolute;
   width: 90px;
   top: 67%;
   left: 40%;
   background-color: var(--secondary-color);
   border: 30px solid var(--secondary-color);
   border-radius: 90%;
}

.aa-but{
   position: absolute;
   width: 90px;
   top: 125%;
   left: 40%;
   background-color: var(--secondary-color);
   border: 30px solid var(--secondary-color);
   border-radius: 90%;
   z-index: 1;
}

.so-but{
   position: absolute;
   width: 90px;
   top: 185%;
   left: 40%;
   background-color: var(--secondary-color);
   border: 30px solid var(--secondary-color);
   border-radius: 90%;
   z-index: 1;
}


       /* duller */
       .dulle-orange{
         rotate: 340deg;
         position: absolute;
         width: 375px;
         top: 225%;
         left: 2%;
         z-index: 1;
      }
 
      .dulle-gron{
         rotate: 10deg;
         position: absolute;
         width: 380px;
         top: 198%;
         left: 2%;
      }
 
      .dulle-orange-sektion{
         position: absolute;
         font-size: 15px;
         width: 750px;
         top: 240%;
         left: 20%;
         z-index: 1;
      }
 
      .dulle-orange-overskrift{
         color: #f1bdff;
      }
 
      .dulle-gron-overskrift{
         color: #f1bdff;
      }
 
      .dulle-gron-sektion{
         position: absolute;
         font-size: 12px;
         width: 750px;
         top: 215%;
         left: 20%;
         z-index: 1;
      }

}

/* tablet */ 
@media (min-width: 601px) and (max-width: 991px) {
     /* footer */
   .footer-container {
      flex-direction: column;
      gap: 10px;
    }
    
    .footer-baggrund{
      position: absolute;
      left: -6.10%;
      top: 270%;
      width: 742px;
      height: 30%;
    }
    
    .logo-footer{
      position: absolute;
      width: 100px;
      top: 277%;
      left: 43%;
    }
    
    .facebook-logo{
       position: absolute;
            width: 100px;
            top: 272%;
            left: 71%;
     }
    
     .instagram-logo{
      position: absolute;
      width: 130px;
      top: 285%;
      left: 68%;
     }
    
     .footer-kontakt{
       position: absolute;
       top: 272%;
       left: 2%;
       font-size: 17px;
       color: #f1bdff;
     }

  /* header */
header{
  padding: 20px;
}

header label{
  display: block;
  position: absolute;
  top: 64%;
  left: 49%;
}

header .navbar{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #32746d;
  border-top: 1px rgba(0,0,0,0.1);
  display: none;
}

header .navbar ul li{
  width: 100%;
}

header .navbar ul li ul{
  position: relative;
  width: 100%;
}

header .navbar ul li ul li{
  background: var(--primary-color);
}

header .navbar ul li ul li ul{
  width: 100%;
  left: 0;
}

#menu-bar:checked ~ .navbar{
  display: block;
}


  /* indhold */
  .cc-img{
   position: absolute;
   width: 250px;
   top: 25%;
   left: 10%;
}

.aa-img{
   position: absolute;
   width: 250px;
   top: 25%;
   left: 54%;
}

.so-img{
   position: absolute;
   width: 250px;
   top: 95%;
   left: 31%;
}

.cc-but{
   position: absolute;
   width: 90px;
   top: 77%;
   left: 20%;
   background-color: var(--secondary-color);
   border: 30px solid var(--secondary-color);
   border-radius: 90%;
}

.aa-but{
   position: absolute;
   width: 90px;
   top: 77%;
   left: 65%;
   background-color: var(--secondary-color);
   border: 30px solid var(--secondary-color);
   border-radius: 90%;
}

.so-but{
   position: absolute;
   width: 90px;
   top: 147%;
   left: 42%;
   background-color: var(--secondary-color);
   border: 30px solid var(--secondary-color);
   border-radius: 90%;
   z-index: 1;
}


       /* duller */
       .dulle-orange{
         rotate: 340deg;
         position: absolute;
         width: 650px;
         top: 200%;
         left: 2%;
      }
 
      .dulle-gron{
         rotate: 10deg;
         position: absolute;
         width: 650px;
         top: 153%;
         left: 7%;
         z-index: -1;
      }
 
      .dulle-orange-sektion{
         position: absolute;
         font-size: 25px;
         width: 750px;
         top: 225%;
         left: 20%;
         z-index: 1;
      }
 
      .dulle-orange-overskrift{
         color: #f1bdff;
      }
 
      .dulle-gron-overskrift{
         color: #f1bdff;
      }
 
      .dulle-gron-sektion{
         position: absolute;
         font-size: 20px;
         width: 750px;
         top: 180%;
         left: 23%;
         z-index: 1;
      }

}