*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --primary-color: #9ec5ab;
    --secondary-color: #ec4e20;
    --backgrund-color: #32746d;
    --color1: #104f55;
    --color2: #ffa630;
    }


     
     a {
       display: flex;
       justify-content: center;
    }
     
 .logo {
  width: 70px;     
  position: absolute;
 bottom: 50px;
 background-color: var(--color1);
 z-index: 1;
     } 
     
     
     header{
        position: absolute;
        top: 0%;
        left: 0;
        right: 0;
        background-color: var(--color1);
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        padding: 10px 7%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8rem;
        z-index: 1;
        
     }
     
     
     header .navbar ul li{
        position: relative;
        float: left;
     }
     
     header .navbar ul li a {
        text-decoration: none;
        font-size: 20px;
        padding: 18px;
        color: var(--primary-color);;
        display: block;
        padding-top: 80px;
        background-color: var(--color1);
     }
     
     header .navbar ul li a:hover{
        color: var(--color2);
     }
     
     header .navbar ul li ul{
        position: absolute;
        left: 0;
        width: 300px;
        background: #3391c9;
        display: none;
     }
     
     header .navbar ul li ul li{
        width: 100%;
        border-top: 1px solid rgba(0,0,0,0.1);
     }
     
     header .navbar ul li:focus-within > ul,
     header .navbar ul li:hover > ul{
        display: block;
     }
     
     #menu-bar{
        display: none;
     }
     
     header label{
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
        display: none;
     }

     body{
        background-color: var(--backgrund-color);
     }

     .cc-img{
        position: absolute;
        width: 320px;
        top: 50%;
        left: 10%;
     }

     .aa-img{
        position: absolute;
        width: 310px;
        top: 50%;
        left: 40%;
     }

     .so-img{
        position: absolute;
        width: 310px;
        top: 50%;
        left: 70%;
     }

     .cc-but{
        position: absolute;
        width: 200px;
        top: 108%;
        left: 14%;
        background-color: var(--secondary-color);
        border: 30px solid var(--secondary-color);
        border-radius: 5%;
     }

     .aa-but{
        position: absolute;
        width: 200px;
        top: 108%;
        left: 44%;
        background-color: var(--secondary-color);
        border: 30px solid var(--secondary-color);
        border-radius: 5%;
     }

     .so-but{
        position: absolute;
        width: 200px;
        top: 108%;
        left: 74%;
        background-color: var(--secondary-color);
        border: 30px solid var(--secondary-color);
        border-radius: 5%;
     }

     .dulle-orange{
        rotate: 20deg;
        position: absolute;
        width: 750px;
        top: 150%;
        left: 40%;
     }

     .dulle-gron{
        rotate: 20deg;
        position: absolute;
        width: 750px;
        top: 150%;
        left: 5%;
     }

     .dulle-orange-sektion{
        position: absolute;
        font-size: 20px;
        width: 750px;
        top: 180%;
        left: 55%;
        z-index: 1;
     }

     .dulle-orange-overskrift{
        color: #f1bdff;
     }

     .dulle-gron-overskrift{
        color: #f1bdff;
     }

     .dulle-gron-sektion{
        position: absolute;
        font-size: 20px;
        width: 750px;
        top: 180%;
        left: 15%;
        z-index: 1;
     }


/* responsive nav */


  /* footer */

  .footer-baggrund{
     position: absolute;
     left: -6.10%;
     top: 250%;
  }

  .logo-footer{
    position: absolute;
    width: 200px;
    top: 252%;
    left: 43%;
  }

  .facebook-logo{
    position: absolute;
    width: 120px;
    top: 260%;
    left: 73%;
  }

  .instagram-logo{
    position: absolute;
    width: 140px;
    top: 260%;
    left: 83%;
  }

  .footer-kontakt{
    position: absolute;
    top: 260%;
    left: 2%;
    font-size: 23px;
    color: #f1bdff;
  }



  /*  mobile */ 
@media(max-width: 600px) {


.footer-container {
  flex-direction: column;
  gap: 10px;
}


header{
padding: 20px;
}

header label{
display: block;
}

header .navbar{
position: absolute;
top: 100%;
left: 0;
right: 0;
background: #3391c9;
border-top: 1px rgba(0,0,0,0.1);
display: none;
}

header .navbar ul li{
width: 100%;
}

header .navbar ul li ul{
position: relative;
width: 100%;
}

header .navbar ul li ul li{
background: #3391c9;
}

header .navbar ul li ul li ul{
width: 100%;
left: 0;
}

#menu-bar:checked ~ .navbar{
display: block;
}
.footerarticle {
display: flex;
flex-direction: column;
width: 100%;
}

}

/* tablet */ 
@media (min-width: 601px) and (max-width: 991px) {

header{
  padding: 20px;
}

header label{
  display: block;
}

header .navbar{
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #3391c9;
  border-top: 1px rgba(0,0,0,0.1);
  display: none;
}

header .navbar ul li{
  width: 100%;
}

header .navbar ul li ul{
  position: relative;
  width: 100%;
}

header .navbar ul li ul li{
  background: #3391c9;
}

header .navbar ul li ul li ul{
  width: 100%;
  left: 0;
}

#menu-bar:checked ~ .navbar{
  display: block;
}

.sponsorfooter {
  display: flex;
  width: 25%;
}
}